<form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="form-group minHeight">

    <label>
        ID:
        <input type="text" formControlName="id" class="form-control">
      </label>
  <label>
    Heading:
    <input type="text" formControlName="postTitle" class="form-control">
  </label>
<!-- id
  <label>
    Short Desc:
    <input type="text" formControlName="shortDesc">
  </label> -->
  <label>
    Date:
    <input type="text" formControlName="postDate" class="form-control">
  </label>

  <label>
    Category:
    <input type="text" formControlName="postCategory" class="form-control">
  </label>
  <label>
    Source URL:
    <input type="text" formControlName="imageSrc" class="form-control">
  </label>

  <label>
    Content:
  </label>
    <textarea type="text" formControlName="postDesc" class="form-control"></textarea>
  

  <button type="submit" [disabled]="!profileForm.valid" class="btn">Submit</button>

  <button (click)="onCancel()" class="btn">Cancel</button>

</form>